* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f5f5f5;
}

a {
	text-decoration: none;
	color: #4CAF50
}

h1 {
	text-align: center;
	color: #000;
}

#wrapper-full{
	width: 80%;
	background-color: #fdfdfd;
	margin: 20px auto;
	padding: 20px;
	border-radius:5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}	

.card {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

h2 {
	font-size: 24px;
	margin-top: 0;
}

#user_info {
	text-align: right;
	margin-bottom: 10px;
	color: #888;
}

#bo_line {
	height: 1px;
	background-color: #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
}

#bo_content {
	margin-bottom: 10px;
	line-height: 1.5;
}

.reply_view {
	margin-bottom: 20px;
}

.reply_view div {
	margin-bottom: 10px;
}

.reply_view a {
	margin-right: 10px;
}

.card form {
	margin-top: 20px;
}

.reply_content {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
}

.re_bt {
	padding: 10px 20px;
	background-color: #007bff;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}

.re_bt:hover {
	background-color: #0056b3;
}

.wrapper-button{
	text-align: right;
	margin-right: 0;
}

a.button-edit,
a.button-delete{
	margin-right: 0;
	padding: 5px 10px;
	font-size: 16px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.button-edit:hover,
.button-delete:hover{
	background-color: #4C9F10;
}


textarea::placeholder {
	font-family: Arial, sans-serif; 
	font-style: italic; 
	color: #999; 
}

input::placeholder {
	font-family: Arial, sans-serif; 
	font-style: italic; 
	color: #999; 
}
